* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
}

section {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
}

.blok1 {
  width: 30%;

  text-align: center;
}

.ml-mr-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.name {
  text-align: center;
  width: 50%;
  margin: 106px auto 50px;
}

h1 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: normal;
}

p {
  color: #86878b;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.image {
  width: 70px;
  height: 70px;
  padding-top: 20px;
  border: 2px solid orangered;
  border-radius: 50px;
  margin: 0px auto;
  background-image: url("images/1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.bulb {
  background-image: url("images/2.png");
}

.keyboard {
  background-image: url("images/3.png");
}

.bord {
  width: 64px;
  height: 2px;
  background-color: orange;
  margin: 26px auto;
}

.blok {
  width: 90%;

  margin: 90px auto;
  display: flex;
  position: relative;
  justify-content: center;
}

h2 {
  color: #333333;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin: 20px 0;
  font-weight: bold;
}

.inform {
  width: 100%;
  height: 322px;
  background-image: url("images/bg_p.png");
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.3);
}

.name__inform {
  color: #ffff;
}

.bord__inform {
  width: 74px;
  height: 2px;
  background-color: #ffffff;
  margin: 26px auto;
}

.inform__text {
  color: #ffff;
  opacity: 0.8;
}

.name__box__inform {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
}

.inform__btn {
  width: 135px;
  height: 42px;
  display: inline-block;
  margin-top: 40px;
  outline: none;
  text-decoration: none;
  background: inherit;
  border: 2px solid #fff;
  color: white;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.inform__btn:hover {
  color: black;
}

.footer {
  width: 100%;

  background-color: #000000;
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.social {
  width: 60%;
  height: 40px;
  background-color: white;
  margin: 0 auto;
}

.footer_text {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}
